.App {
  min-height: 100vh;
  text-align: center;
  background: repeating-linear-gradient(transparent, #4d9f0c 40px),
    repeating-linear-gradient(0.25turn, transparent, #3f87a6 20px);
}

h1,
p {
  color: #ff0000;
}

p {
  font-size: 45px;
}
